body{
    align-content: right;
    font-family: 'Open Sans', sans-serif;
}


#header{
    color: maroon;
    font-size: larger;
    margin-left: 35%;
    text-shadow: 5px 5px 5px blue;
}

#game{
    margin-left: 40%;
}

#resbtn{
    margin-left: 40%;
    margin-top: 15px;
}

#resultlabel{
    color: red;
    font-size: 2em;
    font-weight: bolder;
    margin-left: 40%;
    margin-top: 15px;
    text-shadow: 5px 5px 7px darkorange;
}
.btnClass{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: khaki;
    padding: 10px;
    width :40px;
    height :40px;
    border-radius: 8px;
    transition-duration: 0.5s;
    border:none;
    outline:none;
    text-align:center;
}

.btnClass:hover{
    background-color: darkorange;
}

.btnClass:active{
    background-color: midnightblue;
}

#resetBtn{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    outline:none;
    background-color:lightgray;
    color:black;
    transition:0.5s;
}

#resetBtn:hover{
    background-color: Red;
    color: white;
}