body{
    align-content: right;
    font-family: 'Open Sans', sans-serif;
    background-image: url('marble_bg.jpg');
}
#ttt{
    width:100%;
}

#header{
    width: 20%;
    margin: 0 auto;
    color: maroon;
    font-size: larger;
    text-shadow: 5px 0px 10px blue;
}

#game{
    width: 20%;
    margin: 0 auto;
}

#resbtn{
    width: 20%;
    margin: 0 auto;
    padding-top: 15px;
}

#resultlabel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:lime;
    font-size: 2em;
    font-weight: bolder;
    margin-left: 40%;
    margin-top: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.btnClass{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: khaki;
    padding: 10px;
    width :40px;
    height :40px;
    border-radius: 8px;
    transition-duration: 0.5s;
    border:none;
    outline:none;
    text-align:center;
}

.btnClass:hover{
    background-color: darkorange;
}

.btnClass:active{
    background-color: midnightblue;
}

#resetBtn{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    outline:none;
    background-color:lightgray;
    color:black;
    transition:0.5s;
}

#resetBtn:hover{
    background-color: Red;
    color: white;
}